{% extends 'contacts_box/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h2>Edit person</h2>
{% endblock header %}

{% block content%}
    <form action="" method="post">
        {% csrf_token %}
        <h3>Personal data</h3>
        {% bootstrap_form form_person %}
        </br>
        <h3>Address</h3>
        {% bootstrap_form form_address %}
        </br>
        <h3>Phones</h3>
        {% bootstrap_form form_phone %}
        </br>
        <h3>Emails</h3>
        {% bootstrap_form form_email %}
        <input type="submit" value="edit" class="btn btn-primary">
    </form>

{% endblock content%}